/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
.navigation {
  margin: 0 !important;
}
body {
  line-height: 1.6rem;
  font-family: 'Montserrat', sans-serif;
  box-sizing: border-box;
  color: #2d2d2d;
  font-size: 62.5%;
}
* {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}
.page-main {
  max-width: 100%;
  padding: 0;
  margin: 0;
}
p {
  margin-bottom: 0;
}
.nav-sections-item-title {
  display: none;
}
.page-wrapper {
  overflow: hidden;
}
.category-item {
  display: none !important;
}
.nav-sections-items {
  display: none;
}
.modals-wrapper {
  display: none;
}
ul,
ol {
  margin: 0;
}
ul > li,
ol > li {
  margin: 0;
}
.nav-toggle {
  top: 0;
  left: 0;
  position: relative;
}
.logo {
  margin: 0;
}
@media only screen and (max-width: 768px) {
  .page-main {
    padding-left: 0;
    padding-right: 0;
  }
}
input[type="text"] {
  border: none;
}
.nav.item {
  padding-bottom: 20px;
}
.page-footer {
  padding: 0 32px;
}
a:hover {
  color: #2d2d2d;
  text-decoration: none;
}
.page-print .logo {
  display: block;
  float: none;
  text-align: left;
}
@media print {
  * {
    -webkit-filter: none !important;
    background: transparent !important;
    color: #000000 !important;
    filter: none !important;
    text-shadow: none !important;
  }
  a,
  a:visited {
    text-decoration: underline !important;
  }
  pre,
  blockquote {
    border: 1px solid #999999;
    page-break-inside: avoid;
  }
  thead {
    display: table-header-group;
  }
  .table-wrapper table {
    width: 100%;
    table-layout: fixed;
  }
  .table-wrapper table td {
    width: auto;
  }
  .table-wrapper table > tfoot > tr:first-child {
    border-top: 1px solid #999999;
  }
  .box,
  tr,
  img {
    page-break-inside: avoid;
  }
  img {
    max-width: 100% !important;
  }
  @page {
    margin: 1cm;
  }
  .block-content,
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }
  .block-content {
    page-break-before: avoid;
  }
  .block-title,
  h2,
  h3 {
    page-break-after: avoid;
  }
  .nav-toggle {
    display: none !important;
  }
  .sidebar,
  .nav-sections,
  .header.content > *[class],
  .panel.wrapper > *[class],
  .footer.content > *[class] {
    display: none;
  }
  .logo,
  .footer .copyright {
    display: block !important;
    margin: 10px 0;
  }
  .order-details-items .order-items .order-gift-message:not(.expanded-content) {
    height: auto;
    visibility: visible;
  }
  .column.main {
    float: none !important;
    width: 100% !important;
  }
  .breadcrumbs {
    margin: 0 auto;
    text-align: right;
  }
  .footer.content {
    padding: 0;
  }
  .hidden-print {
    display: none !important;
  }
}
